In [1]:
import pandas as pd

data = '../data/processed/full_data.csv'
df = pd.read_csv(data)

df.sample(5)

,stop_id,stop_name,latitude,longitude,income_group,disability_group,median_income,disability_percentage,reachable_area,isolation_index,barrier_density,error
6175,30223,CR-537 at CITATION DR #,40.265270,-74.260831,High,NaN,181894,7.651222,194204.53,0.386,0.0,NaN
1691,3542,US-9 AT BIRCH ST,40.078019,-74.216652,NaN,Low,72636,6.355253,246685.83,0.491,0.0,NaN
5474,28153,MARNE HWY AT OAK LANE,39.986077,-74.817023,High,NaN,137610,13.607700,166248.72,0.331,0.0,NaN
776,1849,BROAD ST AT JAMES ST,40.806109,-74.192991,NaN,Low,85023,5.272579,275703.81,0.548,0.0,NaN
3260,18891,UNION AVE AT WEST STRATFORD PL#,40.723460,-74.231712,Low,NaN,52378,7.808185,203239.14,0.404,0.0,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9859 entries, 0 to 9858
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   stop_id                9859 non-null   int64
 1   stop_name              9859 non-null   object
 2   latitude               9859 non-null   float64
 3   longitude              9859 non-null   float64
 4   income_group           6609 non-null   object
 5   disability_group       6593 non-null   object
 6   median_income          9859 non-null   int64
 7   disability_percentage  9831 non-null   float64
 8   reachable_area         9859 non-null   float64
 9   isolation_index        9859 non-null   float64
 10  barrier_density        9859 non-null   float64
 11  error                  15 non-null     object
dtypes: float64(6), int64(2), object(4)
memory usage: 924.4+ KB

In [3]:
df[['reachable_area', 'isolation_index', 'barrier_density', 'median_income', 'disability_percentage']].describe()

,reachable_area,isolation_index,barrier_density,median_income,disability_percentage
count,9859.000000,9859.000000,9859.000000,9859.000000,9831.000000
mean,214163.212521,0.426066,0.007925,101823.284613,11.733844
std,66894.298800,0.133087,0.058987,57152.361583,6.539216
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,175223.505000,0.349000,0.000000,55373.000000,6.494165
50%,227126.840000,0.452000,0.000000,86447.000000,9.975889
75%,264640.460000,0.526000,0.000000,145357.000000,16.333623
max,351930.000000,0.700000,3.301000,250001.000000,45.936139

In [5]:
print(df['income_group'].value_counts())
print("\n")
print(df['disability_group'].value_counts())

income_group
Low     3307
High    3302
Name: count, dtype: int64


disability_group
High    3302
Low     3291
Name: count, dtype: int64

In [ ]:
error_count = df['error'].notna().sum()
print(f"\nNumber of stops that failed analysis: {error_count}")

Number of stops that failed analysis: 15